pkgbase = pmat
	pkgdesc = Zero-config AI context generation and code quality toolkit with Claude Code Agent Mode
	pkgver = 2.10.0
	pkgrel = 1
	url = https://github.com/paiml/paiml-mcp-agent-toolkit
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	source = pmat-2.10.0.tar.gz::https://github.com/paiml/paiml-mcp-agent-toolkit/archive/v2.10.0.tar.gz
	sha256sums = d8aa8ade82d3c877fd140327ee64c51d9a00d91b97c5f6195c54550ca1b8c4a0

pkgname = pmat